.first-part .titles {
  width: 40%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  box-shadow: none;
}

.first-part .titles .class-name {
  width: 100%;
  color: var(--white);
  margin: 0rem;
}

.first-part .titles .teacher-name {
  color: var(--white);
  margin: 0rem;
}

.class-avatar {
  position: absolute;
  z-index: 10;
  left: 8%;
  top: 28%;
}

.marked {
  font-size: 0.5rem;
}

.assignment-row .assignment-title {
  width: 10rem !important;
  font-size: 0.7rem !important;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.test-row .test-title {
  width: 10rem !important;
  font-size: 0.7rem !important;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
