.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 4rem;
}

.question_card {
    width: 100%;
    min-height: 155px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 23px;
}

.question_card .question {
    padding: 26px 23px 18px 32px;
    color: #222222;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #DFDFDF;
}

.question_input {
    width: 100%;
    padding: 18px 27px 23px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.question_input .answer{
    width: 80%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #626262;
}

.ant-input {
    border-radius: 5px !important;
}

.answer_btn {
    margin-left: 27px;
    background: #0FCC87 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px !important;
    border: #0FCC87 !important;
}
.answer_btn:hover {
    background: #06a86d!important;
}
.edit_btn {
    margin-left: 27px;
    background: #0FAACC !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px !important;
    border: #0FAACC !important;
    width: 94px;
    height: 30px;
}
.edit_btn:hover {
    background: #0490af!important;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
    padding: 0;
    margin: 0;
}

.ant-pagination {
    display: flex;
    justify-content: flex-end;
}
